.hamisini-goster{
    margin-top: 30px;
    background-color: #f4f7f7;
            .basliq{
                cursor: pointer;
                color:gray;
                border-bottom: none;
                border-radius: 5px;
                background-color: #fff;
                
                h3{
                    padding:15px 10px;
                }
             }
             .elan-sayi{
                cursor: pointer;
             color:gray;
             transition: all .2s ease-in-out;
             &:hover{
                 box-shadow: 0 2px 3px rgba(0,0,0,0.3);
             }
             h3{
                 padding:15px 10px;
                 color:$primary-color;
                 
             }
         }
         .hamisi-asagi{
            padding: 35px 18px;
            margin-bottom: 100px;
            border-radius: 10px;

            .hamisi-tek{
                margin-bottom: 20px;
                border-radius: 10px;
                padding: 30px 25px;
                border: 1px solid lightgray;
                background-color: #fff;
                transition: all .2s ease-in-out;
                &:hover{
                    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
                }
                .hamisi-etrafli{
                    .btn{
                        background: $primary-color;
                        color: white;
                    }
                }
                .hamisi-adi{
                    h3{
                        color: $primary-color;
                    }
                }
                .hamisi-sirket{
                    a{
                        color: $primary-color;
                        font-size: 16px;
                    }
                }
                .hamisi-email{
                    a{
                        color: $primary-color;
                    }
                }
                .hamisi-maas{
                    font-size: 22px;
                    margin-bottom: 10px;
                    background-color: lightgray;
                    margin-right: 0px;
                    padding: 8px 5px;
                    border-radius: 8px;
                }
                .hamisi-text{
                    margin-top: 26px;
                }
         }
    }
}